<!DOCTYPE html>
<html>
    <head>
        <title>About Me Quiz</title>
    </head>
    
    <body>
        <h1>How well do you know me? - Allison Edition</h1>
        
        <form method ="POST" action="/results">
            
            <h2>What's my favorite food?</h2>
                <input type="radio" name="food_type" value="0">omlets<br>
                <input type="radio" name="food_type" value="5">p2 Thai Food<br>
                <input type="radio" name="food_type" value="10">sushi<br>
            
            <h2>What's my favorite TV Show?</h2>
                <input type="radio" name="show" value="0">Once Upon a Time<br>
                <input type="radio" name="show" value="5">Supergirl<br>
                <input type="radio" name="show" value="10">The Flash<br>
            
            <h2>What's my favorite Social Media?</h2>
                <input type="radio" name="media" value="0">Twitter<br>
                <input type="radio" name="media" value="5">Snapchat<br>
                <input type="radio" name="media"value="5">Instagram<br>
                <input type="radio" name="media" value="10">Pinterest<br>
               
            <h2>What's my favorite Season?</h2>
                <input type="radio" name="season" value="0">Summer<br>
                <input type="radio" name="season" value="5">Spring<br>
                <input type="radio" name="season" value="10">Winter<br>
                
            <h2>What do I do in My Free-Time?</h2>
                <input type="radio" name="free_time" value="0">Hang out with Friends<br>
                <input type="radio" name="free_time" value="5">Read<br>
                <input type="radio" name="free_time" value="5">Play Ukelele<br>
                <input type="radio" name=free_time" value="10">Artsy Stuff<br>
       
       <br>
       <button type="submit">Let's see if you're worthy of being my friend...</button>
       
        </form>
        
        
    </body>
</html>
